{% extends 'base.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <div>
      {{ form.usuario.label }}
      {{ form.usuario() }}
      {% if form.usuario.errors %}
        {% for erro in form.usuario.errors %}
          <div>
            <span>{{ erro }}</span>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div>
      {{ form.senha.label }}
      {{ form.senha() }}
      {% if form.senha.errors %}
        {% for erro in form.senha.errors %}
          <div>
            <span>{{ erro }}</span>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div>
        {{form.enviar()}}
    </div>
  </form>
{% endblock %}
