{% extends 'base_login.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}

    <div>
      {# Início da seção de mensagens flash #}
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flashes">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      {# Fim da seção de mensagens flash #}
      {{ form.usuario.label }}
      {{ form.usuario() }}
      {% if form.usuario.errors %}
        {% for erro in form.usuario.errors %}
          <div>
            <span>{{ erro }}</span>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div>
      {{ form.senha.label }}
      {{ form.senha() }}
      {% if form.senha.errors %}
        {% for erro in form.senha.errors %}
          <div>
            <span>{{ erro }}</span>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div>{{ form.lembrar_dados(class_='form-chek-input') }}
      {{ form.lembrar_dados.label(class_='form-check-label') }}</div>
    <div>{{ form.enviar() }}</div>
  </form>
{% endblock %}
