<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block styles %}
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    {% endblock %}
  </head>

  <body>
    <main>
      {% block content %}

      {% endblock %}
    </main>

    {% include "partials/_footer.html" %}
  </body>
</html>
