<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/login-style.css') }}">

    <title>{% block title %} {% endblock %} - Meu Projeto</title>

    {% block styles %}
    {# Bloco para estilos adicionais específicos de uma página, se necessário #}
    {% endblock %}
</head>
<body class="page-{% block page_class %}{% endblock %}">

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/_footer.html' %}

    {% block scripts %}
    {# Bloco para scripts, se necessário #}
    {% endblock %}
</body>
</html>